@charset "UTF-8";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{padding: 0; margin: 0;}

.Material-Icons{ font-family : 'Material Icons'; }
#wrap{ margin-top: 20px; }
#header{
    height: 60px;
}
#header #header-top{
	height: 100%;
    border-bottom: 1px solid #eee;
}
#header #header-top #logo{
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    font-size: 35px;
    line-height: 45px;
    display: inline-block;
}

#logo a{ color: #6ba971; }

#header #header-top .search{
    display: inline-block;
    /*visibility: hidden; 추가*/
    visibility: hidden;
    margin: 0 20px 0 10px;
}
#header #header-top .search input{
    width:320px;
    height: 35px;
    border-radius: 13px;
    padding-left: 10px;
}
#header #header-top #header_menu{
    display: inline-block;
    font-size: 15px;
}

#header #header-top #header_menu ul{
	width: 225px;
	font-size: 17px;
}

#header #header-top #header_menu li{
	display: inline-block;
	width:70px;
	text-align: center;
}

.My{
	position: relative;
}

.myBox{
	display: none;
	background: white;
	width: 100px;
	margin-top: 5px;
	font-size: 13px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: none;
	position: absolute;
	right: -15px;
}

.myBox div{
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding: 5px;
}

.myBox div:hover{ background: rgba(0, 0, 0, 0.1); }

.myBox a {display: block;}

/*=======================================*/

.contents{
    margin: 50px 0 50px 0;
    min-height: 800px;
}

.cont{
}

.cont #logo{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin: 30px 0 30px 0;
}

/*=======================================*/
#footer{ 
    height: 150px;
    border-top: 1px solid #eee;
}
.ft{
    text-align: center;
    padding-top: 25px;
}
.ft ul{ margin-bottom: 20px; }
.ft li{
    position: relative;
    display: inline;
    padding: 0 7px 0 10px;
}
.ft li:before{
    content: ''; width:1px; height: 12px; background: #ccc; 
    position: absolute; left:0; top:2px;
}
.ft li:first-child:before{ width: 0; height: 0; }
.container{
    width: 750px;
    min-width: 500px
    margin: 0 auto;
}
.ellipsis_text{
	max-width: 99%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
