@charset "UTF-8";

#pro{

}

.proBox{
}

.proBox #proNav{
	width: 20%;
	float:left;
}


.proBox #proNav .navLine {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #8080806e;
}

	
.proBox #proNav label {
	font-size: 17px;
	height: 30px;
	line-height: 30px;
	padding: 2px 0 2px 5px;
}

.proBox #proNav label a {
	font-weight: bold;
	color: #6ba971;
}

.proBox #proNav ol{
	padding-left: 15px;
    font-size: 13px;
}

.proBox #proNav ol li{
	padding: 5px 0 5px 0px;
}

.proBox .proCont{
	width: 79%;
	float:left;
	overflow: hidden;
}

.proBox .proCont .proUp{
	min-height: 850px;
}

.noProduct{
	display: block;
    text-align: center;
}
.proBox .proCont .proUp .proColumn{
	width:29%;
	height: 240px;
	margin: 0 0 15px 15px; 
    padding: 5px 5px 0 5px;	
	float: left;
}

.proBox .proCont .proUp .proColumn:hover{
	background-color: rgba(0,0,0,0.1);
}

.proBox .proCont .proUp .proColumn a{
	
}

.proBox .proCont .proUp .proColumn a img{
	width: 100%;
	height: 70%;	
}

.proBox .proCont .proUp .proColumn a h3{
	margin: 5px 0 5px 0px;
}

.proBox .proCont .proUp .proColumn a p{
	color: red;
	font-size: 15px;
}

.proBox .proCont .proBottom{
	clear: both;
}

.paging-container .paging{
	text-align: center;
	font-size: 20px;	
}

.paging-active{
	font-weight: bold;	
}

.proBox #proFoot{
	clear:both;
}