@charset "UTF-8";

#qa-contents{
	min-height: 600px;
}

.QAlist{
	min-height: 500px;
}

.QAlist table{
	width: 750px;
	border-collapse: collapse;
	border-top: 2px solid rgb(39, 39, 39);
}

.QAlist table tr{
	width: 100%;
	max-width: 100%;
}

.QAlist table tr:nth-child(even) {
    background-color: #f0f0f070;
}

.QAlist table th, .QAlist table td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.QAlist table .no { width: 60px; max-width : 60px;}
.QAlist table .text   { width:250px; max-width : 250px;  }
.QAlist table td.text { text-align: left;  }
.QAlist table td.text:hover { text-decoration: underline; }
.QAlist table .pro_title   { width: 150px; max-width : 150px;  }
.QAlist table .writer   { width:60px; max-width : 60px;  }
.QAlist table .regdate   { width: 130px; max-width : 130px;  }

.QAlist table td span{ display: block; }

.writing-header{
	margin: 20px 0 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #323232;
}

#QAform input {
	display: block;
	width: 97%;
    height: 35px;
    margin: 5px 0px 10px 0px;
    border: 1px solid #e9e8e8;
    padding: 8px;
    background: #f8f8f8;
    outline-color: #e6e6e6;
}

#QAform textarea {
	display: block;
	width: 97%;
    background: #f8f8f8;
    margin: 5px 0px 20px 0px;
    border: 1px solid #e9e8e8;
    resize: none;
    padding: 8px;
    outline-color: #e6e6e6;
}

.brdBtn {
    background-color: rgb(236, 236, 236); /* Blue background */
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 6px 12px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 5px;
}

.brdBtn:hover {
    text-decoration: underline;
}

.cmt_ul {
    border:  1px solid rgb(235,236,239);
    border-bottom : 0;
}

.cmt_ul li {
    background-color: #f9f9fa;
    list-style-type: none;
    border-bottom : 1px solid rgb(235,236,239);
    padding : 18px 18px 0 18px;
}

#commentList {
    margin : auto;
}

.comment-content {
    overflow-wrap: break-word;
}

.comment-bottom {
    font-size:9pt;
    color : rgb(97,97,97);
    padding: 8px 0 8px 0;
}

.comment-bottom > a {
    color : rgb(97,97,97);
    text-decoration: none;
    margin : 0 6px 0 0;
}

.comment-area {
    padding : 0 0 0 50px;
}

.commenter {
    font-size:12pt;
    font-weight:bold;
}

.commenter-writebox {
    padding : 10px 20px 10px 20px;
}

.comment-img {
    position: absolute;
    background: pink;
    width: 40px;
	height: 40px;
	clip-path: circle(19px);
}

.comment-item {
    position:relative;
}

.up_date {
    margin : 0 8px 0 0;
}

#comment-writebox {
    margin: auto;
    background-color: white;
    border : 1px solid #e5e5e5;
    border-radius: 5px;
}

.wrtBox_txt {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 20px;
    border: 0;
    outline: 0;
    font-size: 13px;
    resize: none;
    box-sizing: border-box;
    background: transparent;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

#comment-writebox-bottom {
    padding : 3px 10px 10px 10px;
    min-height : 45px;
}

.cmt_btn {
    font-size:10pt;
    color : black;
    background-color: #eff0f2;
    text-decoration: none;
    padding : 9px 10px 9px 10px;
    border-radius: 5px;
    float : right;
}

#btn-write-comment, #btn-write-reply {
    color : #009f47;
    background-color: #e0f8eb;
}

#btn-cancel-reply {
    background-color: #eff0f2;
    margin-right : 10px;
}

#btn-write-modify {
    color : #009f47;
    background-color: #e0f8eb;
}


#modify-writebox {
    background-color: white;
    border : 1px solid #e5e5e5;
    border-radius: 5px;
    margin : 10px;
}

#modify-writebox-bottom {
    padding : 3px 10px 10px 10px;
    min-height : 48px;
}

/* The Modal (background) */
.modal {
	/*임시 주석*/
    display: none;
	
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
